/*  */


/* ================             CSS Varaibles   ============================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


:root{

    --header-height: 3rem;

    /*              Colors / Theme          */
    --first-color: #000;
    --first-color-light: rgb(16, 16, 16);
    --first-color-lighten: #e0e0e0; 
    --first-color-alt: #8a7968;
    --text-color: white;
    --text-color-light: #e0e0e0; 
    --default-color: #7E0c17;


    /*              Typographhy          */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.1rem;
    --small-font-size: 0.938rem;
    --smaller-font-size: 0.85rem;

    /*              Font weight          */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*===== Margenes =====*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;

    /*===== z index =====*/
    --z-fixed: 100;
}

@media screen and (min-width: 768px) {
    :root{
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.5rem;
        --normal-font-size: 1.25rem;
        --small-font-size: 1rem;
        --smaller-font-size: 0.95rem;
    }
}

/*===== BASE =====*/
*, ::before, ::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: var(--body-font);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    background-color: var(--text-color);
    line-height: 1.6;
}

h1, h2, h3, p{
    margin: 0;
}

h3{
    font-weight: var(--font-semi-bold);
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}



/*===== CLASS CSS ===== */

.section{
    padding: 4rem 0 2rem;
}

.l-section{
    padding: 4rem 4rem;
}

.separationQuote{
    background-color: var(--first-color-lighten);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quoteText{
    font-size: var(--h3-font-size);
    color: var(--first-color-light);
}

.quoteRefer{
    color: #7E0c17;
    justify-content: right;
    font-size: var(--h2-font-size);
}


.redLine{
    height: 2px;
    width: 40%;
    background-color: var(--default-color);
}


.flexContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalFlexContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}


/* ==================    Buttons    =========================*/
.transparentButton{
    background: transparent;
    border: 2px solid var(--text-color-light);
    color: var(--text-color-light);
    transition: 0.3s;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.3rem 1rem;
    max-width: 70%;
    position: relative;
}

.transparentButton::before,
.transparentButton::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: all .5s;
}

.transparentButton::before{
    top: -15px;
    left: -15px;
    border-width: 3px 0 0 3px;
}

.transparentButton::after{
    bottom: -15px;
    right: -15px;
    border-width: 0 3px 3px 0;
}

.transparentButton:hover::before,
.transparentButton:hover::after{
    width: calc(100% + 29px);
    height: calc(100% + 29px);
}

.transparentButton:hover{
    border: 2px solid var(--text-color);
    color: var(--text-color);
    text-shadow: 0 0 var(--text-color);
}


.blackFillButton{
    padding: 0.5rem 2rem;
    border: 2px solid var(--first-color);
    background-color: var(--text-color);
    color: var(--first-color);
    transition: 0.4s;
}

.blackFillButton:hover{
    background-color: var(--first-color);
    color: var(--text-color);
}

.whiteFillButton{
    padding: 0.5rem 2rem;
    border: 2px solid var(--first-color);
    background-color: var(--first-color);
    color: var(--text-color);
    transition: 0.4s;
}

.whiteFillButton:hover{
    border: 2px solid var(--first-color);
    background-color: var(--text-color);
    color: var(--first-color);
}

/*===== Header ===== */
header{
    display: flex;
    background-color: var(--first-color);
    justify-content: space-around;
    padding: 1rem 0;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 200px;
}

.nav__list{
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-bottom: 0.5rem;
    column-gap: 2rem;
}

.nav__link{
    color: var(--text-color-light);
    border-radius: 5px;
    transition: color 0.4s;
}

.nav__link:hover{
    color: var(--text-color);
    border-bottom: 3px solid var(--default-color);
}

.header__toggle, .header__close{
    display: none;
}

@media screen and (max-width: 768px) {
    header{
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }

    .logo img{
        width: 110px;
    }

    .header__toggle{
        margin: auto;
        margin-right: -1rem;
        display: inline;
        color: var(--text-color-light);
        font-size: var(--h2-font-size);
    }

    .header__close{
        position: absolute;
        right: 24px;
        display: block;
        padding: 0.5rem;
        font-size: var(--h2-font-size);
        border-radius: 50%;
        color: var(--text-color-light);
    }

    .header__close:hover{
        background-color: var(--first-color-light);
    }

    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--first-color);
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: var(--z-fixed);
        border-radius: 0 0 0 50%;
        transition: 0.4s;
    }

    .nav__list{
        display: flex;
        flex-direction: column;
    }

    .nav__item{
        margin: 2rem 0;
    }

    .show{
        right: 0;
    }
}


/*==================================== Welcome Page ======================================= */

/* First Section */
.welcome{
    height: 87.5vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.95)),url("../img/bg1.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

@keyframes animate {
    0%{
        background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.95)),url("../img/bg2.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    40%{
        background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.95)),url("../img/bg4.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
    100%{
        background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.95)),url("../img/bg1.jpg");
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
    }
}


.welcomeDark{
    background-color: rgba(0, 0, 0, 0.55);
    padding: 4rem 2rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcomeDark img{
    width: 70%;
}


/* Second Section */
.mission{
    background: url("http://maxdesigns.ae/wp-content/uploads/2022/06/bg_black_marble.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}   

.missionLeft, .missionRight{
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    width: 50%;
   
}



.missionLefttitle{
    color: var(--text-color);
    text-transform: uppercase;
    font-size: var(--h1-font-size);
    width: 100%;
    font-weight: 300;
}
.missionTitle{
    color: var(--text-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    text-transform: uppercase;
    margin: 2rem 0 3rem;
}


.missionDescription{
    color: var(--text-color-light);
    width: 70%;
    text-align: justify;

}

/* ====================================     Footer  ================================ */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    row-gap: 2rem;
    background: var(--first-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

.upperFooter{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    font-weight: lighter;
}

.lowerFooter{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.socialLink{
    height: 40px;
    width: 40px;
    /* padding: 1rem; */
    background-color: var(--text-color);
    margin: 5px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.socialLink i{
    font-size: 1.3rem;
    justify-self: center;
    color: var(--default-color);
}

.socialLink:hover{
    background-color: var(--default-color);
}

.socialLink:hover i{
    color: var(--text-color);
}


/* Discussion section */

.discussion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    background: url("http://maxdesigns.ae/wp-content/uploads/2022/06/bg_white_marble.jpg");
    background-attachment: fixed;
}

.discussion .redLine{
    width: 14%;
}

.discussionTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: var(--h2-font-size);
}

.discussionSubtitle{
    font-weight: 700;
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    color: var(--first-color-light);
}

.discuss{
    width: 60%;
    text-align: justify;
}

@media screen and (max-width: 860px) {
    .mission{
        flex-direction: column;
    }

    .missionLeft, .missionRight{
        width: 100%;
    }

    .missionLeft > div{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .missionLefttitle{
        text-align: center;
    }

    .missionTitle{
        text-align: center;
        width: 100%;
    }

    .missionDescription{
        width: 90%;
        text-align: center;
    }

    .discuss{
        width: 90%;
    }

    .lowerFooter{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .upperFooter{
        text-align: center;
    }
}


@media screen and (max-width: 400px) {
    .transparentButton{
        text-align: center;
        max-width: 90%;
        width: 80%;
        font-size: 0.75rem;
    }
}



/* ====================================     About  ================================ */

/* First Section */
.about{
    background-image: linear-gradient(60deg, #252b32 00%, #252b32 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}

@keyframes animated-bg {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}

.aboutTitle{
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    color: var(--text-color);
    transform: scale(1.5);
    background-image: linear-gradient(60deg, var(--default-color) 0%, var(--text-color) 100%);
    background-size: 400% 400%;
    animation: animated-bg 10s infinite ease-in-out;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.about .redLine{
    margin-top: 1.5rem;
    width: 20%;
    height: 4px;
}

/* story section */
.leftStory, .rightStory{
    padding: 2rem;
    width: 50%;
}

.rightStory img{
    border-radius: 0.9rem;
    box-shadow: 0 0 100px -50px var(--first-color-light);
}

.storyTitle{
    font-size: var(--h1-font-size);
    color: var(--default-color);
    text-transform: uppercase;
}

.storyDescription{
    text-align: justify;
    color: var(--first-color-light);
}

.aboutImplementation{
    background: url("http://maxdesigns.ae/wp-content/uploads/2022/06/bg_white_marble.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: cover;
    padding: 4rem 2rem;
}

.rightImplement img{
    border-radius: 0.9rem;
    box-shadow: 0 0 100px -50px var(--first-color-light);
}

.leftImplement{
    padding: 0 3rem;
}

.implementTitle{
    font-size: var(--h2-font-size);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: var(--default-color);
}

.implementDescription{
    text-align: justify;
    width: 85%;
}


.orderImplement .rightImplement{
    order: 1;
}

.orderImplement .leftImplement{
    order: 2;
}

/* count section */
.aboutProjects{
    background-color: var(--first-color-alt);
}

.projectCountContaier{
    background-color: var(--text-color);
    border-radius: .5rem;
    padding: 4rem 2rem;
    box-shadow: 0 0 70px -50px var(--first-color-light);
}

.aboutProject__title{
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--h2-font-size);
}

.aboutProject__subtitle{
    text-transform: uppercase;
    font-size: var(--h3-font-size);
    font-weight: 600;
}

.aboutProject__content{
    padding: 4rem 2rem;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}

.aboutProject__contentBox{
    min-width: 30%;
    column-gap: 1rem;
}

.aboutProject__contentBox img{
    width: 40%;
}

.aboutContext__title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    color: var(--default-color);
    font-weight: 100;
    line-height: 4rem;
}

.aboutContext__description{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--first-color-light);
    font-weight: 100;
    text-align: center;
    margin-top: 0;
}

@media screen and (max-width: 1155px) {
    .aboutStory{
        flex-direction: column-reverse;
    }

    .rightStory, .leftStory{
        width: 80%;
    }
}

@media screen and (max-width: 860px) {
    .aboutStory{
        flex-direction: column-reverse;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .rightStory, .leftStory{
        width: 100%;
    }

    .orderImplement .rightImplement{
        order: 2;
    }
    
    .orderImplement .leftImplement{
        order: 1;
    }

    .aboutImplement{
        flex-direction: column-reverse;
        row-gap: 1rem;
    }

    .leftImplement{
        margin-bottom: var(--mb-5);
    }

    .aboutImplementation{

        padding: 4rem 0rem;
    }

    .implementTitle{
        text-align: center;
    }

    
}

@media screen and (max-width: 590px) {
    .implementDescription{
        text-align: center;
        width: 100%;
    }

    .aboutProject__content{
        padding: 4rem 0rem;
    }

    .aboutProject__title{
        text-align: center;
    }

    .aboutProject__contentBox{
        flex-direction: column;
        margin-bottom: var(--mb-5);
    }

    .aboutProject__contentBox img{
        width: 70%;
        margin-bottom: var(--mb-3);
    }
}

@media screen and (max-width: 375px){
    .rightImplement img{
        width: 80%;
        margin: auto;
    }
}


/* ====================================     Contact  ================================ */
/* First Section */
.contactTouch{
    background-attachment: fixed;
    row-gap: 3rem;
}

.touchTitle{
    text-align: center;
    color: var(--first-color-light);
    text-transform: uppercase;
    font-weight: 300;
    font-size: var(--h2-font-size);
}

.touchContainer{
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2.5rem;
}

.touchContent{
    height: 45vh;
    width: 30%;
    min-width: 275px;
    padding: 2rem 2rem;
    box-shadow: 0 0 27px -2px var(--text-color-light);
    border-radius: 0.9rem;
}

.touchContent__title{
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
}

.touchContent__description{
    text-align: center;
    font-weight: 300;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}


.touchContent{
    position: relative;
    cursor: pointer;
    transition: all 0.4s;
}

.touchContent:hover .touchContent__title, 
.touchContent:hover .touchContent__description{
    color: var(--first-color-light);
}

.touchContent::after, .touchContent::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--default-color);
    z-index: -1;
    border-radius: 10px;
    transition: all 0.4s;
}

.touchContent::after{
    background: var(--text-color-light);
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50%;
    transition: all 0.4s;
}

.touchContent:hover::after{
    transform: translate(0) scale(1);
    border-radius: 0;
    border-radius: 10px;
}

.touchContent:hover::before{
    transform-origin: right bottom;
    transform: translate(10%, 10%) scale(0.3);
    border-radius: 50%;
    z-index: 1;
}

.touchContent__socialIcons{
    display: inline-flex;
    column-gap: 1rem;
}

.touchContent__socialIcon{
    width: 30px;
    height: 30px;
    background-color: var(--text-color);
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.touchContent__socialIcon i{
    color: var(--default-color);
    font-size: var(--smaller-font-size);
}


/* Second Container */
.contactFormContainer{
    background-color: var(--text-color-light);
}

.contactForm__subtitle{
    color: var(--first-color-light);
    text-transform: uppercase;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: var(--small-font-size);
}

.contactForm__title{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--first-color);
    text-align: center;
    font-size: var(--h2-font-size);
}

.contactForm{
    width: 60%;
}

.inputs{
    width: 100%;
    justify-content: space-between;
    column-gap: 2rem;
}

.inputs input, textarea{
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

.inputs input{
    width: 100%;
}

textarea{
    width: 100%;
    resize: none;
    height: 25vh;
}

.contactForm .blackFillButton{
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 950px) {
    .inputs{
        flex-direction: column;
        row-gap: 1rem;
    }
}

@media screen and (max-width: 700px) {
    .contactForm{
        width: 100%;
    }
}


@media screen and (max-width: 375px) {
    .contactFormContainer{
        padding: 4rem 1rem;
    }
}

/* ====================================     User Profile  ================================ */
.profileContainer{
    background: url("http://maxdesigns.ae/wp-content/uploads/2022/06/bg_black_marble.jpg");
    background-attachment: fixed;
}

.profileWrapper{
    background-color: white;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 43px -3px rgba(255, 255, 255, 0.659);
    border-radius: 7px;
    gap: 3rem;
    width: 80%;
    
}

.profileContent{
    row-gap: 3rem;
}

.profileContent img{
    width: 20%;
}

.setContent{
    row-gap: 1rem;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 2rem;
    box-shadow:  0 0 4px 3px rgba(183, 183, 183, 0.15);
    padding: 4rem 4rem;
    border-radius: 5px;
}

.setInfoTitle{
    align-self: center;
    color: var(--default-color);
    font-size: var(--h3-font-size);
}

.setInfoDetailTitle{
    color:var(--first-color-light) ;
    font-size: var(--normal-font-size);
}

.setInfoDetailDesc{
    font-size: var(--small-font-size);
    color: var(--first-color-light);
}

.profileDetails{
    width: 70%;
    align-self: flex-start;
    row-gap: 2rem;
    align-items: flex-start;
}

.generalInfoContainer{
    align-items: flex-start;
    box-shadow:  0 0 4px 3px rgba(183, 183, 183, 0.15);
    padding: 4rem 4rem;
    width: 100%;
}

.profileName{
    font-size: var(--h3-font-size);
    line-height: var(--h2-font-size);
}

.profilePost{
    font-size: var(--smaller-font-size);
    color: var(--default-color);
}


.professionalInformation{
    width: 100%;
}

.rankTitle{
    color: gray;
}

.rankValue{
    font-size: var(--h2-font-size);
}

.professionalInformation{
    align-items: flex-start;
    box-shadow:  0 0 4px 3px rgba(183, 183, 183, 0.15);
    padding: 4rem 4rem;
    gap: 2rem;
}

.contactTitle{
    color: gray;
    font-size: var(--small-font-size);
}

.contactInfo{
    align-items: flex-start;
}


.contactInfo .setInfoDetail .setInfoDetailTitle{
    padding-right: 1rem;
}

.profileDetails .blackFillButton{
    width: 100%;
    text-align: center;
    font-weight: var(--font-semi-bold);
}

.contactInfo .setInfoDetail .setInfoDetailTitle{
    color: var(--default-color);
}

@media screen and (max-width: 1267px) {

    .setContent .blackFillButton{
        width: 100%;
    }

    .profileWrapper{
        flex-direction: column;
        width: 80%;
    }

    .profileContent{
        align-self: flex-start;
        width: 100%;
    }

    .profileContent img{
        align-self: center;
    }

    .profileContentContainer{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        align-self: flex-start;
        justify-self: flex-start;
    }

    .setInformation{
        width: 100%;
    }

    .setContent{
        width: 100%;
    }

    .setContent .changePassword{
        align-self: center;
    }

    .profileDetails{
        width: 100%;
    }

    .generalInfoContainer{
        width: 100%;
    }

    .profileContent img{
        width: 30%;
    }

    
}


@media screen and (max-width: 715px){
    .profileContainer{
        padding: 4rem 2rem;
    }

    .profileWrapper{
        width: 95%;
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 500px){
    .profileWrapper{
        padding: 4rem 1rem;
    }

    .profileContent img{
        width: 40%;
    }

    .setContent .changePassword button{
        font-size: var(--smaller-font-size);
        padding: 1rem;
        width: 80%;
    }

    .setContent{
        padding: 4rem 1.5rem;
    }

    .setInfoDetailTitle{
        padding-right: 0;
    }

    .professionalInformation {
        padding: 4rem 1.5rem;
    }

    .contactInfo .setInfoDetail .setInfoDetailTitle{
        padding-right: 0;
    }
}





/* ====================================     Registered Users  ================================ */


.table{
    width: 100%;
    max-width: 1080px;
    margin: 40px auto;
    box-shadow: 0px 1px 9px rgba(5, 57, 94, 0.2);
    border-collapse: collapse;
}

.table th{
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
    font-weight: 100;
}

.table thead{
    background-color: var(--default-color);
    color: #FFf;
    font-weight: 700;
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

.registeredUsersContainer{
    padding-top: 30px;
}

.section__title{
    font-size: var(--h1-font-size);
    text-align: center;
    color: var(--default-color);
}

/* Responisveness */
@media screen and (max-width: 767px) {

    .table{
        box-shadow: none;
    }

    .table tbody{
        padding: 0 16px;
    }

    .table thead{
        display: none;
    }

    .table tbody, .table tbody tr{
        display: block;
        width: 100%;
    }

    .table tbody tr th::before, .table tbody tr td::before{
        content: attr(data-title);
        display: block;
        font-weight: 600;
        font-size: 12px;
        color: rgba(5, 57, 94, 0.5);
    }

    .table tbody tr th{
        display: block;
        width: 50%;
        float: left;
        text-align: left;
        font-size: 16px;
        font-weight: 500;
        color: var(--default-color);
    }

    .table tbody tr{
        margin-bottom: 16px;
        box-shadow: 0px 1px 9px rgba(5, 57, 94, 0.2);
        float: left;
        clear: both;
        border-radius: 7px;
    }

    .userUpdateLink .blackFillButton{
        margin-top: 7px;
    }
}
